/* PostForm.module.css */
form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 800px;
  animation: fadeIn 0.5s;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 24px;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  background-color: var(--green);
  color: var(--text-color-light);
  border: none;
  border-radius: 500px;
  cursor: pointer;
}

label {
  width: 100%;
}

.input:not(textarea),
select {
  margin: 0.5em 0;
  width: 100%;
  padding: 1em;
  background: var(--white);
  border: solid 2px var(--green);
  border-radius: 500px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

textarea {
  margin: 0.5em auto;
  width: 100%;
  padding: 1em;
  background: var(--white);
  border: solid 2px var(--green);
  border-radius: 24px;
  resize: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.inputSmall {
  width: 50%;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.5em 0;
  background: var(--white);
  border: solid 2px var(--green);
  border-radius: 500px;
}

.imagePreview {
  width: calc(100% - 4px);
  max-width: 346px;
  height: 200px;
  object-fit: cover;
  margin: 0.5em auto;
  display: block;
  border: solid 2px var(--green);
  border-radius: 24px;
}

.players,
.locationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1em 0;
  text-align: left;
}

.locationContainer .label {
  width: 25%;
}

.textError {
  color: var(--text-color-danger);
  margin: 0.5em 0;
}

.textError:first-letter {
  text-transform: uppercase;
}

.form h4 {
  margin: 1.5em 0 0.5em;
  font-weight: 500;
}

.locationContainer label,
.players label {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
