.card {
  display: flex; /* Flexbox for row layout */
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 1em; /* Space between cards */
  max-height: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  /* Fixed width for image container */
  aspect-ratio: 4/3;
  height: 100%; /* Fixed height for image */
  flex: 1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: 2px solid var(--green); /* Divider between image and content */
}

.content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0;
  color: var(--text-color-dark);
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 0.5em;
  margin-bottom: 1em;
}

.difficulty,
.players,
.age,
.duration,
.language,
.genre {
  margin: 0;
  color: var(--text-color-dark);
}

.description {
  margin: 0.5em 0;
  color: var(--text-color-dark);
  font-size: 0.9em;
}

.locations {
  flex: 1;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--light-grey);
}

.locations h4 {
  margin-bottom: 0.5em;
  color: var(--text-color-dark);
}

.locations p {
  margin: 0.25em 0;
  color: var(--text-color-dark);
  font-size: 0.9em;
}

.locationGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
