@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------- root variables ---------- */
:root {
  --green: #b12924;
  --light-green: #ede2d9;
  --light-grey: #f7f2ee;
  --text-color-light: #f1f1f1;
  --text-color-dark: #292929;
  --text-color-danger: rgb(152, 58, 58);
  --white: #f1f1f1;
}

body {
  color: var(--text-color-dark);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  padding: 58px 0 0;
  background-color: var(--light-green);
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  color: var(--green);
}

.page {
  background-color: var(--light-green);
  min-height: calc(100vh - 58px - 2em);
  padding: 1em;
}

.text-center {
  text-align: center;
}
.text-error {
  color: var(--text-color-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- nav styling ---------- */
nav {
  background-color: var(--green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  gap: 40px;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-green);
  color: var(--green);
}

/* ---------- flex container styling ---------- */
.page {
  padding: 1em;
}

.search-filter-container {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  flex-direction: wrap;
}

.search-bar {
  flex: 2;
  padding: 0.5em;
  border: 2px solid var(--green);
  border-radius: 500px;
  font-family: "Poppins", sans-serif;
}

.filter-dropdown {
  flex: 1;
  padding: 0.5em;
  border: 2px solid var(--green);
  border-radius: 500px;
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--text-color-dark);
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* ---------- loader styling ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-green);
  border-radius: 50%;
  border-top: 5px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}
